/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}

/* Header CSS */

#header {
  display: flex;
  height: 36px;
  justify-content: space-between;
  margin: 10px 10px 0 0px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 4px 2px -2px gray;
  padding-bottom: 5px;
}

#middle img {
  height: 27px;
  width: 195px;
  color: black;
}

.header-btn {
  background-color: #6288a5;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  border-radius: 4px;
  font-family: "Libre Franklin", sans-serif;
  height: 32px;
}

#left {
  line-height: 40px;
}

#left a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-size: 14.25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
}

#left a:hover {
  text-decoration: underline;
}

.fa-bars {
  padding-right: 20px;
}

.fa-search {
  padding-right: 20px;
}

/* article css */

article {
  width: 70%;
  display: block;
  margin: 0 auto;
}

#hero-img {
  width: 100%;
}

#article-title {
  display: block;
  width: 390px;
  color: #121212;
  line-height: 40px;
  font-size: 36px;
  font-weight: 800;
  padding: 20px 0 5px 20px;
  margin: 20px 20px 20px 50px;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  position: relative;
  left: 100px;
}

img {
  width: 100%;
}

figure {
  margin: 0 0 20px 0;
}
figcaption {
  margin: 4px 0 0 0;
  width: 78%;
  color: #333333;
  font-size: 17px;
  line-height: 20px;
}

#figcaption-footnote {
  color: #888888;
  font-size: 15px;
}

#content {
  width: 70%;
  margin: 0 auto;
}

#author-name {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 700;
  padding: 20px 0 20px 0;
}
#author-name a {
  color: black;
}

#author-name a:hover {
  text-decoration: underline;
}

#article-information-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

#date-published {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 100;
  color: #333333;
  margin: auto 0 auto 0;
}

#social-media-icons {
  font-size: 22px;
}
#social-media-icons a {
  color: black;
  margin-left: 7px;
}

.article-content {
  text-align: left;
  text-justify: initial;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 19px;
  line-height: 29px;
  margin: 10px 0 10px 0;
}
.article-header {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  font-style: normal;
  font-family: georgia, "times new roman", times, serif;
}

iframe {
  width: 100%;
}

#graph-container {
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(3, 1fr);
}

.graph {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.article-side {
  display: none;
  float: right;
  width: 20%;
  height: 100px;
  border: 1px solid black;
}

/* more section css */
#more-container{
  display: flex;
  margin: 0 auto;
  margin-top:50px;
  width: 90%;
}

#more {
  border-top: 1px solid #000;
  padding-top: 50px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-right: 30px;
}

#more-h2{
  display: none;
  position: relative;
  left: 215px;
  font-size: 1rem;
    font-weight: 700;
    font-family: 'Domine', serif;
    color: #000;
    padding: 15px;
}

.more-img {
  width: 100%;
  height: 170px;
}

.more-section {
  width: 254px;
  padding-bottom: 20px;
}

.more-caption {
  text-align: right;
  color: rgb(153, 153, 153);
  font-size: 13px;
}

.more-date {
  color: #999;
  font-size: 12px;
  font-family: 'Domine', serif;
  padding-top:20px;
}
.more-title {
  padding-top:20px;
  font-size: 18px;
  font-family: 'Domine', serif;
  line-height: 22p
}

#most-popular{
  border-top: 1px solid #000;
  width: 310px;
}

#most-popular h2{
  font-size: 1rem;
    font-weight: 700;
    font-family: 'Domine', serif;
    color:#000;
    padding: 15px;
}

.most-popular-text{
  border-bottom: 1px solid rgb(226, 226, 226);
    padding: 15px 0px;
    font-family: 'Domine', serif;
    color: rgb(18, 18, 18);
    font-weight: 500
}


/* footer css */
footer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
  text-decoration: none;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 20px;
}

.footer-section h3{
  color: rgb(51, 51, 51);
  font-size: 13px;
  font-weight: 700;
  font-family: 'Domine', serif;
  height: 25px;
  line-height: 15px;
  text-transform: uppercase;
  width: 150px;
  margin: 0px;
}

.footer-section ul li a{
  color: rgb(0, 0, 0);
  display: inline-block;
  font-family: 'Domine', serif;
  text-transform: capitalize;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  height: 23px;
  line-height: 16px;
  text-decoration: none;
}

#footer-line{
  content: "";
  display: block;
  height: 1px;
  margin-top: 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
  border-top: 2px solid rgb(226, 226, 226);
}


#footer-nav ul{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

#footer-nav ul a{
  color: rgb(153, 153, 153);
  font-size: 12px;
  padding-bottom:20px;
}